<footer class="footer-area">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="~/assets/images/logo/logo-footer.png" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content">Website bán hoa uy tín</p>
                        <div class="social-links">
                            <ul class="d-flex">
                                <li>
                                    <a class="rounded-circle" href="#" title="Facebook">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Vimeo">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Thông tin</h2>
                        <ul class="widget-list">
                            <li><a href="about-us.html">Công ty</a></li>
                            <li><a href="contact-us.html">Liên hệ</a></li>
                            <li><a href="about-us.html">Dịch vụ</a></li>
                            <li><a href="about-us.html">Tại sao chúng tôi?</a></li>
                            <li><a href="about-us.html">Sự nghiệp</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Liên kết nhanh</h2>
                        <ul class="widget-list">
                            <li><a href="about-us.html">Giới thiệu</a></li>
                            <li><a href="blog.html">Bài viết</a></li>
                            <li><a href="shop.html">Sản phẩm</a></li>
                            <li><a href="cart.html">Giỏ hàng</a></li>
                            <li><a href="contact-us.html">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Hỗ trợ</h2>
                        <ul class="widget-list">
                            <li><a href="contact-us.html">Hỗ trợ trực tuyến</a></li>
                            <li><a href="contact-us.html">Chính sách giao hàng</a></li>
                            <li><a href="contact-us.html">Chính sách trả hàng</a></li>
                            <li><a href="contact-us.html">Chính sách bảo mật</a></li>
                            <li><a href="contact-us.html">Điều khoản dịch vụ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Thông tin</h2>
                        <div class="widget-body">
                            <address>182 đường Lê Duẩn, Vinh, Nghệ An, Việt Nam<br>Số điện thoại: 0393657992<br>Email: lechung22092003@gmail.com</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>Copyright © 2023 <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a> | Built with&nbsp;<strong>FloSun</strong>&nbsp;by <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
