@model adminFlowerShop_Gr1.Models.TblPage

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    string url = $"/page/{Model.Alias}";
}

<div class="blog-area-wrapper">
    <!-- Breadcrumb Area Start Here -->
    <div class="breadcrumbs-area position-relative">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <div class="breadcrumb-content position-relative section-content">
                        <h3 class="title-3">@Model.PageName</h3>
                        <ul>
                            <li><a href="index.html">Trang chủ</a></li>
                            <li>@Model.PageName</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb Area End Here -->
    <!-- Blog Main Area Start Here -->
    <div class="blog-main-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-custom widget-mt">
                    <!-- Blog Details wrapper Area Start -->
                    <div class="blog-post-details">
                        <figure class="blog-post-thumb mb-5">
                            <img src="~/images/pages/@Model.Thumb" alt="@Model.Title">
                        </figure>
                        @Html.Raw(Model.Contents)
                    </div>
                    <!-- Blog Details Wrapper Area End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Main Area End Here -->
</div>