@model adminFlowerShop_Gr1.ModelViews.ChangePasswordViewModel

    
<div class="tab-pane fade" id="account-info" role="tabpanel">
    <div class="myaccount-content">
        <div class="account-details-form">
            <form asp-controller="Accounts" asp-action="ChangePassword" method="post">
                <fieldset>
                    <div class="single-input-item mb-3">
						<label for="current-pwd" class="required mb-1"><strong>Mật khẩu hiện tại</strong></label>
                        <input asp-for="PasswordNow" type="password" id="current-pwd" placeholder="Current Password" />
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-custom">
                            <div class="single-input-item mb-3">
								<label for="new-pwd" class="required mb-1"><strong>Mật khẩu mới</strong> </label>
                                <input asp-for="Password" type="password" id="new-pwd" placeholder="New Password" />
                            </div>
                        </div>
                        <div class="col-lg-6 col-custom">
                            <div class="single-input-item mb-3">
								<label for="confirm-pwd" class="required mb-1"><strong>Nhập lại mật khẩu mới</strong></label>
                                <input asp-for="ConfirmPassword"  type="password" id="confirm-pwd" placeholder="Confirm Password" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="single-input-item single-item-button">
                    <button class="btn flosun-button secondary-btn theme-color  rounded-0">Lưu thay đổi</button>
                </div>
            </form>
        </div>
    </div>
</div> <!-- Single Tab Content End -->