@model adminFlowerShop_Gr1.ModelViews.RegisterVM

@{
    ViewData["Title"] = "Đăng kí tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Breadcrumb Area Start Here -->
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Login-Register</h3>
                    <ul>
                        <li><a href="/">Trang chủ</a></li>
                        <li>Đăng nhập đăng kí</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<!-- Register Area Start Here -->
<div class="login-register-area mt-no-text">
    <div class="container container-default-2 custom-area">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-custom">
                <div class="login-register-wrapper">
                    <div class="section-content text-center mb-5">
                        <h2 class="title-4 mb-2">Đăng kí tài khoản</h2>
                    </div>
                    <form asp-action="DangKiTaiKhoan">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="single-input-item mb-3">
							<input type="text" asp-for="FullName" placeholder="Họ và tên">
                            
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
							<input type="tel" asp-for="Phone" placeholder="Số điện thoại">
                          
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
                            <input type="email" asp-for="Email" placeholder="Email">
                          
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
							<input type="password" asp-for="Password" placeholder="Mật khẩu">
                            
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
							<input type="password" asp-for="ComfirmPassword" placeholder="Nhập lại mật khẩu">
                           
                            <span asp-validation-for="ComfirmPassword" class="text-danger"></span>
                        </div>
                        <div class="single-input-item mb-3">
                            <div class="login-reg-form-meta d-flex align-items-center justify-content-between">
                                <div class="remember-meta mb-3">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="rememberMe">
                                        <label class="custom-control-label" for="rememberMe">Subscribe Our Newsletter</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single-input-item mb-3">
                            <button class="btn flosun-button secondary-btn theme-color rounded-0">Đăng kí</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Register Area End Here -->



